body{
    margin: 0;
    background-color: #2b2922;
    font-family: 'Poppins';
}

.nav-margin{

    font-family: 'Poppins';

}


.navbar{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin: 20px 50px 0px;
    height: 10vh;

}

/* making the navlist items container in middle using margin */


.nav-items{
    margin: 0 auto;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    font-weight: 300;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    list-style: none;

}
.list-items:nth-child(1){
    opacity: 2;
    font-weight: 400;
    
    
}

.btn{
 }

 
.nav-btn{
    all: unset;
    color: #8d7e33;
    border-radius: 10px;
    border-color:#8d7e33;
    background-color: #2b2922 ;
    padding: 10px 30px;
    margin-bottom: 20px;
    border: 2px solid;
}

.list-items{
    margin: 0 40px;
    font-size: 1rem;
}
.bg-1{
    background-color: #2b2922;
}





/* MID_CONTENT */

.mid-content{
    height: 40vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    color: #FFF;
    
}

.mid-content h1 {
font-size: 3.5rem;
margin: 0 auto;
text-align: left;
width:40%;
line-height: 1;
font-weight: 550;

}

.mid-content p{
    font-size: 1.5rem;
    width: 26%;
    text-align: left;
    margin: 0 auto 0 0;
    line-height: 1.5;
    opacity: 0.7;
    font-weight: 100;
}



.justice-img{

    width: 100vw;
    height: 50vh;
    
}



